<!DOCTYPE html>
<html lang="en">

<head>
	<title>Eat Da Burgers</title>
	<meta charset="UTF-8">
	{{!-- google font --}}
	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
	{{!-- css style sheet --}}
	<link rel="stylesheet" href="/public/css/style.css" type="text/css" />
</head>

<body>
	{{{ body }}}


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/public/js/burger.js"></script>
</body>

</html>